@inherits LayoutComponentBase

<div class="content px-sm-5">
    <HeaderMenu />
</div>


<main class="bd-content order-1 py-5">
    <article>
        @Body
    </article>
</main>

<footer>
    <div class="content px-sm-5">
        <Footer />
    </div>
</footer>
