@page "/sobre"

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Sobre o Web Lista</h1>
            <p class="lead">Web Lista é um projeto desenvolvido para criação de lista de presentes.</p>
        </div>
    </div>
</div>

@code {}